<a href="https://colab.research.google.com/github/AnnaPoly108/ICT_activities/blob/main/conditional_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#conditional statement

**if,else**

In [ ]:
x=int(input('year of birth '))
if x>=18:
  print("eligible for vote")
else:
  print("not elgible for vote")

year of birth 30
eligible for vote

**if-elif**

In [ ]:
x=int(input("enter the number"))
if x>0:
  print(f"{x}is greater than 0")
elif x==0:
  print(f"{x} is equal to 0")
else :
  printf(f"{x} is less than 0")

enter the number5
5is greater than 0

In [ ]:
x=int(input("enter the number"))
if x<0:
  print("not valid")
elif 0<=x<=12:
  print("child")
elif 13<=x<=19:
  print("teenager")
elif 20<=x<=59:
  print("adult")
else:
  print("senior citizen")

enter the number-1
not valid

In [ ]:
name=input("enter the name: ")
if len(name)<10:
  print("name is short")
else:
  print("name is lengthy")

enter the name: annaanupolybiny
name is lengthy

In [ ]:
time=input("enterin time HH:MM format: ").split(":") #convert railway time into normal
a=int(time[0])
b=int(time[1])
if a>=12:
  c=a-12
  print(f"{c}:{b} PM")
else:
  print(f"{a}:{b} AM")

enterin time HH:MM format: 22:10
10:10 PM

In [ ]:
a=input("enter your string ") #palindrome
x=a[::-1]
if x==a:
  print("palindrome")
else:
  print("not palindrome")

enter your string anna
palindrome

In [ ]:
x=['Red','Green','Blue']
a=input("enter the color: ")
if a in x:
  print("primary color")
else:
  print("not primary")

enter the color: Red
primary color

In [ ]:
data=input("enter data in format dd/mm/yyyy ").split("/") #expired date of products
a=int(data[0])
b=8-int(data[1])
c=2025-int(data[2])
if c>=1:
  print("expired")
elif b>6:
  print("expired")
elif b==6 and a<5:
  print("expired")
else:
  print("not expired")

enter data in format dd/mm/yyyy 03/04/2025
not expired

In [ ]:
a=int(input("enter the  first number")) # to find greatest no from 3 no.s
b=int(input("enter the  second number"))
c=int(input("enter the  third tnumber"))
if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

enter the  first number22
enter the  second number34
enter the  third tnumber12
b is greater

In [ ]:
a=input("enter the day: ")           #given day is holiday or not
if a=="saturday" or a=="sunday":
  print("holiday")
else:
  print("not holiday")

enter the day: sunday
holiday

In [ ]:
a=2
b=3.14159
print("a contains {}".format(a))
print("a contains {} and b contains {}".format(a,b))
print(f"a contains {a} and b contains {b}")
print(f"b contains {b:.3f}")

a contains 2
a contains 2 and b contains 3.14159
a contains 2 and b contains 3.14159
b contains 3.142

**multivariable assignment**

In [ ]:
name,age,location="guest",22,"cochin"
print(name)
print(age)
print(location)

guest
22
cochin

In [ ]:
a=10
b=20
print(a,b)
print(a,b,sep="_")
print("a contains",a,"b contains",b)

10 20
10_20
a contains 10 b contains 20

In [ ]:
print("hello")
print("hi",end="_")
print("welcome")

hello
hi_welcome

In [ ]:
#integer to string
a=5
b=str(a)
print(b, type(b))

#string to integer
a="5"
b=int(a)
print(b,type(b))

#integer to float
a=5
b=float(a)
print(b,type(b))

5 <class 'str'>
5 <class 'int'>
5.0 <class 'float'>

In [ ]:
a="5" # string to int
print(type(int(a)))

<class 'int'>

In [ ]:
a=5 # int to string
print(type(str(a)))

<class 'str'>

In [ ]:
a=5 # int to float
print(float,type(a))

<class 'float'> <class 'int'>

In [ ]:
#string to float
a="5"
print(type(float(a)))

<class 'float'>

In [ ]:
#list to tuple
mark=["student1",98,"student2",56]
print(tuple(mark))

('student1', 98, 'student2', 56)

In [ ]:
#tuple to list
mark=("student1",98,"student2",76)
print(list(mark))

['student1', 98, 'student2', 76]

In [ ]:
#string join
domain=["Data","science"]
"_".join(domain)

'Data_science'

#list operations

In [ ]:
x=[1,2,3]
x.append(4)
print(x)
x.extend([5,6])
print(x)
x.remove(2)
print(x)
x.insert(0,0)
print(x)

x.reverse()
print(x)
x.sort()
print(x)
e=x.pop(0)
print(e,x)
x.clear()
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]
[6, 5, 4, 3, 1, 0]
[0, 1, 3, 4, 5, 6]
0 [1, 3, 4, 5, 6]
[]

In [ ]:
d=input("enter date: ")
day,month,year=d.split("/")
a="_".join([month,day,year])
b="_".join([month,day,year])
c="/".join([year,day,month])
print(a)
print(b)
print(c)

enter date: 13/10/2025
10_13_2025
10_13_2025
2025/13/10